#  Define a configura莽茫o do cluster Kind
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

#  Define os n贸s do cluster
nodes:
- role: control-plane  # Define um n贸 como Control Plane (gerencia o cluster)
- role: worker         # Define um n贸 como Worker (executa workloads como pods)
- role: worker         # Define um segundo n贸 Worker para balanceamento de carga
